/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
	background-color: rgb(255,255,255); /* Not totally white. */
	color: rgb(0,0,0);  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: "sauna-new", sans-serif;
font-weight: 400;
font-style: normal;

}

div.container {
	position: relative;
	min-height: 100vh;
	margin: auto
}

figure.hero img {
	width: 15em;
}

img {
	width: 100%;
	display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	margin-bottom: 5em;
	padding: 1em 1em 1em 1em;
	column-gap: 0em 0em 3em;
}
h1 {
	background-color: ___;
	color: ____; /* Same as body background. */
	font-size: _______;
	padding: ____ ____ ____; /* You want three values. */
	font-weight: _______;
	text-transform: _______;
}


h2 {
	background-color: _______;
	color: rgb(35,80,155);
	font-size: 3em;
	padding: ___;
	margin-bottom: 1em;
	margin-left: 0.5em;
	font-family: "sauna-new", sans-serif;
	font-weight: 700;
	font-style: normal;

}

h3 {
	margin: 2em 0em 1em 0.5em; /*Three values again. You got the idea.*/
	padding-top: _______;
	font-size: 2em;
	color: black;
	font-weight: bold;
	text-transform: _______;
	letter-spacing: 0.em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: ____ ____ ____;
	font-family: "sauna-new", sans-serif;
	font-weight: 700;
	font-style: normal;
	
}

h4 {
	grid-row: 1/2;
	color: rgb(35,80,155);
	font-size: 1em;
	font-family: "sauna-new", sans-serif;
	font-weight: 700;
	font-style: normal;
}

p.description {
	font-style: _______;
	grid-column: 1/5;
	grid-template-columns: auto auto;
	margin-bottom: 2em;

	

}

p.price {
	color: rgb(35,80,155);
	grid-column: 4/5;
	grid-row: 1/2;


}

ul {
	margin: 0.5em 0.5em 0.5em;
	display: grid;
	grid-template-columns: 1fr;
}

ul li {
	margin-top: 2em;
}

li { 
	margin: 0.5em 0.5em;
	list-style-type: none;
	padding-left: 2em;
	padding-right: 2em;


}

p.footer {
	color: rgb(35,80,155);
	padding: 1em;
	margin-top: 0em;
}

p.slogan {  
   font-family: "sauna-swash-new", sans-serif;
font-weight: 700;
font-style: italic;
	font-size: 3.5em;
	line-height: 1;
	color: rgb(255,255,255);
	padding-bottom: 5em;
	padding-left: 1em;
}

address {
	padding-left: 1em;
	color: rgb(35,80,155);
	font-size: 1.8em;

}

p.contactinfo {
	color: rgb(35,80,155);
	margin-left: 0.5em;
}

nav {
	grid-column: 3/3;
	grid-column-start: 2/2;
	grid-column-end: 4/4;
	
}

nav ul {
	display: grid;
	text-align: right;
	text-transform: uppercase;
	font-size: 1.5em;

}

nav ul li {
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: uppercase;
	margin-top: 1.5em;
}

nav ul li a {
	color: rgb(35,80,155);
	text-decoration: none;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 0.5em, 0.5em;
}

nav ul li.selected a { 
	background-color: rgb(74, 112, 176);
	color: rgb(255,255,255);
}

.home-container {
	background: url(feliphe-schiarolli-u7W9tFAXgTA-unsplash.jpg)center center fixed;
	background-size: auto;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 83em;
	margin: auto;

}


main.menu ul li {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

article {
	
	margin: 1em 5em 1em 5em;
	max-width: 36em;
	margin: auto;
	padding: 3em;
	text-align: center;

	

}

@media screen and (min-width: 60em) {
		
	
	ul { 
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	nav ul {
	display: flex;
	text-align: right;

}

    }
